In [0]:
------------------------------ TABLE FORMATION ------------------------------
CREATE TABLE emp_salary
(
    emp_id INTEGER  NOT NULL,
    name VARCHAR(20)  NOT NULL,
    salary VARCHAR(30),
    dept_id INTEGER
);

INSERT INTO emp_salary
(emp_id, name, salary, dept_id)
VALUES(101, 'sohan', '3000', '11'),
(102, 'rohan', '4000', '12'),
(103, 'mohan', '5000', '13'),
(104, 'cat', '3000', '11'),
(105, 'suresh', '4000', '12'),
(109, 'mahesh', '7000', '12'),
(108, 'kamal', '8000', '11');

------------------------------------------------------------------------------------------

-- Q1: Write a SQL to return all employee whose salary is same in same department
-- Ans:
-- Method 1: Using CTE and INNER JOIN
with sal_dep as (
select dept_id, salary
from emp_salary
group by dept_id, salary
having count(1) > 1)

select * from emp_salary as es 
inner join sal_dep as sd
on es.dept_id = sd.dept_id and es.salary = sd.salary;

-- Method 2: Using CTE and LEFT JOIN
with sal_dep as (
select dept_id, salary
from emp_salary
group by dept_id, salary
having count(1) = 1)

select * from emp_salary as es 
left join sal_dep as sd
on es.dept_id = sd.dept_id and es.salary = sd.salary
where sd.dept_id is null;


-- Method 3: Using INNER JOIN
select
a1.name,a2.name
from emp_salary as a1
join emp_salary as a2
using(dept_id)
where 
a1.emp_id != a2.emp_id and a1.salary = a2.salary and a1.dept_id = a2.dept_id
group by all