In [0]:
------------------------------ TABLE FORMATION ------------------------------
------------------------------ TABLE FORMATION ------------------------------
DROP TABLE IF EXISTS purchases;

-- Create a new table
create table purchases(
	user_id int,
	product_id int,
	quantity int,
	purchase_date timestamp
);

insert into purchases values
(536, 3223, 6, to_timestamp('01/11/2022 12:33:44', 'MM/dd/yyyy HH:mm:ss')),
(827, 3585, 35, to_timestamp('02/20/2022 14:05:26', 'MM/dd/yyyy HH:mm:ss')),
(536, 3223, 5, to_timestamp('03/02/2022 09:33:28', 'MM/dd/yyyy HH:mm:ss')),
(536, 1435, 10, to_timestamp('03/02/2022 08:40:00', 'MM/dd/yyyy HH:mm:ss')),
(827, 2452, 45, to_timestamp('04/09/2022 00:00:00', 'MM/dd/yyyy HH:mm:ss')),
(536, 1789, 2, to_timestamp('03/02/2022 09:33:28', 'MM/dd/yyyy HH:mm:ss')),
(536, 1999, 4, to_timestamp('03/02/2022 09:33:28', 'MM/dd/yyyy HH:mm:ss')),
(827, 3585, 20, to_timestamp('02/20/2022 14:05:26', 'MM/dd/yyyy HH:mm:ss')),
(827, 3585, 15, to_timestamp('02/20/2022 14:05:26', 'MM/dd/yyyy HH:mm:ss')),
(536, 2452, 12, to_timestamp('04/01/2022 15:20:10', 'MM/dd/yyyy HH:mm:ss')),
(536, 3585, 7, to_timestamp('05/15/2022 11:10:05', 'MM/dd/yyyy HH:mm:ss')),
(536, 3223, 3, to_timestamp('06/01/2022 12:00:00', 'MM/dd/yyyy HH:mm:ss')),
(536, 3223, 8, to_timestamp('07/10/2022 16:30:00', 'MM/dd/yyyy HH:mm:ss')),
(901, 3585, 9, to_timestamp('02/20/2022 14:05:26', 'MM/dd/yyyy HH:mm:ss')),
(902, 3585, 5, to_timestamp('02/20/2022 14:05:26', 'MM/dd/yyyy HH:mm:ss')),
(901, 2452, 14, to_timestamp('04/11/2022 10:15:00', 'MM/dd/yyyy HH:mm:ss')),
(902, 2452, 22, to_timestamp('05/05/2022 12:45:00', 'MM/dd/yyyy HH:mm:ss')),
(901, 1789, 11, to_timestamp('06/15/2022 09:00:00', 'MM/dd/yyyy HH:mm:ss')),
(902, 1999, 18, to_timestamp('06/15/2022 09:00:00', 'MM/dd/yyyy HH:mm:ss')),
(901, 1435, 7, to_timestamp('07/20/2022 10:20:00', 'MM/dd/yyyy HH:mm:ss')),
(902, 3223, 6, to_timestamp('08/25/2022 18:00:00', 'MM/dd/yyyy HH:mm:ss')),
(536, 1789, 9, to_timestamp('09/01/2022 13:00:00', 'MM/dd/yyyy HH:mm:ss')),
(827, 1999, 30, to_timestamp('09/05/2022 15:40:00', 'MM/dd/yyyy HH:mm:ss')),
(901, 3223, 4, to_timestamp('09/10/2022 11:30:00', 'MM/dd/yyyy HH:mm:ss')),
(902, 1435, 10, to_timestamp('09/12/2022 17:15:00', 'MM/dd/yyyy HH:mm:ss')),
(827, 1435, 25, to_timestamp('10/01/2022 08:45:00', 'MM/dd/yyyy HH:mm:ss')),
(536, 2452, 5, to_timestamp('10/10/2022 19:30:00', 'MM/dd/yyyy HH:mm:ss')),
(901, 1999, 13, to_timestamp('10/15/2022 20:00:00', 'MM/dd/yyyy HH:mm:ss')),
(902, 1789, 16, to_timestamp('10/20/2022 21:45:00', 'MM/dd/yyyy HH:mm:ss'));


------------------------------------------------------------------------------------------

-- Q1: /* Assume you are given the table below containing information on user purchases. Write a query to obtain the number of users who purchased the same product on two or more different days. Output the number of unique users. */

-- Ans:
-- Method 1: 
select *, date(purchase_date) as date
from purchases;

select user_id, product_id, count(distinct date(purchase_date)) as p_count
from purchases
group by user_id, product_id
having p_count > 1