In [0]:
------------------------------ TABLE FORMATION ------------------------------
drop table if exists employee;
create table employee 
(
  emp_name varchar(10),
  dep_id int,
  salary int
);

delete from employee;

insert into employee values
('Siva',1,30000),
('Ravi',2,40000),
('Prasad',1,50000),
('Sai',2,20000),
('Kiran',3,45000),
('Anil',1,28000),
('Deepa',2,55000),
('Mohan',3,32000),
('Raj',1,60000),
('Sneha',2,47000),
('Venu',3,38000),
('Arun',1,52000),
('Pooja',2,41000),
('Nithin',3,25000),
('Divya',1,70000),
('Harsha',2,36000),
('Ramesh',3,42000),
('Kavya',1,48000),
('Teja',2,53000),
('Manoj',3,31000),
('Lakshmi',1,29000),
('Sanjay',2,60000),
('Charan',3,34000),
('Meena',1,46000),
('Aravind',2,39000),
('Priya',3,55000);

------------------------------------------------------------------------------------------

-- Q1: /* write a query to print highest and lowest salary emp in each deprtment ? */

-- Ans:
-- Method 1: Using case when , aggregation and join
with cte as (
select dep_id, max(salary) as max_salary, min(salary) as min_salary 
from employee
group by dep_id
)
select e.dep_id,
max(case when salary = max_salary then emp_name else null end) as max_sal_emp,
max(case when salary = min_salary then emp_name else null end) as min_sal_emp
from employee as e
inner join cte
using(dep_id)
group by e.dep_id;

-- Method 2: Using case when, agreegation and rank