In [0]:
------------------------------ TABLE FORMATION ------------------------------
------------------------------ TABLE FORMATION ------------------------------
-- Drop existing tables if they exist (optional cleanup)


------------------------------------------------------------------------------------------

-- Q1: /*        */

-- Ans:
-- Method 1: