In [0]:
------------------------------ TABLE FORMATION ------------------------------
drop table if exists family;

create table family 
(
person varchar(5),
type varchar(10),
age int
);
delete from family ;
insert into family values ('A1','Adult',54)
,('A2','Adult',53),('A3','Adult',52),('A4','Adult',58),('A5','Adult',54),('C1','Child',20),('C2','Child',19),('C3','Child',22),('C4','Child',15);


------------------------------------------------------------------------------------------

-- Q1: /* Person and type is the colum names and it is the input table. We need output as pair table, like these are adult and child in the table and they are going for a fair and they have a ride on some jhoola, so one adult can go with one child and in last one adult will be alone */

-- Ans:
-- Method 1: Using JOIN
with adult as 
(select * from family where type = 'Adult'),
child as 
(select * from family where type = 'Child')
select a.person as adult, c.person as child
from adult as a 
left join child as c
on right(a.person,1) = right(c.person,1);

-- Method 2: Using JOIN and ROW_NUMBER
select * from family;

with adult as 
(select *, row_number() over(order by person) as rn from family where type = 'Adult'),
child as 
(select *, row_number() over(order by person) as rn from family where type = 'Child')
select a.person as adult, c.person as child
from adult as a 
left join child as c
on c.rn = a.rn;

-- Q2: /* Now there is one more ask where the eldest member will go with the youngest one and so on. */
-- Ans:
with adult as 
(select *, row_number() over(order by age desc) as rn from family where type = 'Adult'),
child as 
(select *, row_number() over(order by age asc) as rn from family where type = 'Child')
select a.person , a.age,  c.person, c.age
from adult as a 
left join child as c
on c.rn = a.rn;