In [0]:
------------------------------ TABLE FORMATION ------------------------------
drop table if exists flights;
drop table if exists sales;

CREATE TABLE flights 
(
    cid VARCHAR(512),
    fid VARCHAR(512),
    origin VARCHAR(512),
    Destination VARCHAR(512)
);

INSERT INTO flights (cid, fid, origin, Destination) VALUES ('1', 'f1', 'Del', 'Hyd');
INSERT INTO flights (cid, fid, origin, Destination) VALUES ('1', 'f2', 'Hyd', 'Blr');
INSERT INTO flights (cid, fid, origin, Destination) VALUES ('2', 'f3', 'Mum', 'Agra');
INSERT INTO flights (cid, fid, origin, Destination) VALUES ('2', 'f4', 'Agra', 'Kol');

-- Problem 2:

CREATE TABLE sales 
(
    order_date date,
    customer VARCHAR(512),
    qty INT
);

INSERT INTO sales (order_date, customer, qty) VALUES ('2021-01-01', 'C1', '20');
INSERT INTO sales (order_date, customer, qty) VALUES ('2021-01-01', 'C2', '30');
INSERT INTO sales (order_date, customer, qty) VALUES ('2021-02-01', 'C1', '10');
INSERT INTO sales (order_date, customer, qty) VALUES ('2021-02-01', 'C3', '15');
INSERT INTO sales (order_date, customer, qty) VALUES ('2021-03-01', 'C5', '19');
INSERT INTO sales (order_date, customer, qty) VALUES ('2021-03-01', 'C4', '10');
INSERT INTO sales (order_date, customer, qty) VALUES ('2021-04-01', 'C3', '13');
INSERT INTO sales (order_date, customer, qty) VALUES ('2021-04-01', 'C5', '15');
INSERT INTO sales (order_date, customer, qty) VALUES ('2021-04-01', 'C6', '10');
------------------------------------------------------------------------------------------

/*
Q1: 
Find th ORIGIN and DESTINATION of each cid.
*/

-- Ans1:
-- Method 1: 
select f1.cid, f1.origin as origin, f2.Destination as destination
from flights as f1
join flights as f2
on f1.cid = f2.cid and f1.Destination = f2.origin;

------------------------------------------------------------------------------------------
/*
Q2: 
Find the count of new customers added in each month.
*/

-- Ans2:
-- Method 1: 
select * from sales;

with cte as
(
select *, row_number() over(partition by customer order by order_date) as rn
from sales
)
select month(order_date) as month, count(distinct customer) as new_customers
from cte 
where rn = 1
group by month(order_date);