In [0]:
------------------------------ TABLE FORMATION ------------------------------
drop table if exists namaste_python;

create table namaste_python (
file_name varchar(25),
content varchar(200)
);

insert into namaste_python values 
('python bootcamp1.txt','python for data analytics 0 to hero bootcamp starting on Jan 6th')
,('python bootcamp2.txt','classes will be held on weekends from 11am to 1 pm for 5-6 weeks')
,('python bootcamp3.txt','use code NY2024 to get 33 percent off. You can register from namaste sql website. Link in pinned comment');

------------------------------------------------------------------------------------------

/*
Q1: 
Find the words which are repeating more than once considering all the rows of content column
*/

-- Ans1:
-- Method 1: Using CTE, Explode and Split.
select * from namaste_python;

with cte as
(
select explode(split(content, ' ')) as splitted_words 
from namaste_python
)
select splitted_words, count(1) as words_freq
from cte
group by 1
having count(1) > 1
order by 2 desc;