In [0]:
------------------------------ TABLE FORMATION ------------------------------
drop table if exists employees;

CREATE TABLE employees  (employee_id int,employee_name varchar(15), email_id varchar(15) );
delete from employees;
INSERT INTO employees (employee_id,employee_name, email_id) VALUES ('101','Liam Alton', 'li.al@abc.com');
INSERT INTO employees (employee_id,employee_name, email_id) VALUES ('102','Josh Day', 'jo.da@abc.com');
INSERT INTO employees (employee_id,employee_name, email_id) VALUES ('103','Sean Mann', 'se.ma@abc.com'); 
INSERT INTO employees (employee_id,employee_name, email_id) VALUES ('104','Evan Blake', 'ev.bl@abc.com');
INSERT INTO employees (employee_id,employee_name, email_id) VALUES ('105','Toby Scott', 'jo.da@abc.com');
INSERT INTO employees (employee_id,employee_name, email_id) VALUES ('106','Anjali Chouhan', 'JO.DA@ABC.COM');
INSERT INTO employees (employee_id,employee_name, email_id) VALUES ('107','Ankit Bansal', 'AN.BA@ABC.COM');

ALTER TABLE employees
ALTER COLUMN email_id VARCHAR(15) COLLATE SQL_Latin1_General_CP1_CS_AS;


------------------------------------------------------------------------------------------

/*
Q1:
In the above table data you can see there are 1 email is duplicate(102, 105, 106) but I want to fetch only lower case email into my output. In my output I am expecting only 102 and 105 emp_id.
*/



-- Ans1:
-- Method 1: 
select email_id, count(1)
from employees
group by email_id
;


-- If the above method does not support, then try the below approach:
with cte as (
select *, ascii(email_id) as ascii_email,
rank() over(partition by email_id order by ascii(email_id) desc) as rn
from employees
)
select * from cte where rn=1;