In [0]:
------------------------------ TABLE FORMATION ------------------------------
drop table if exists seats;

CREATE TABLE seats (
    id INT,
    student VARCHAR(10)
);

INSERT INTO seats VALUES 
(1, 'Amit'),
(2, 'Deepa'),
(3, 'Rohit'),
(4, 'Anjali'),
(5, 'Neha'),
(6, 'Sanjay'),
(7, 'Priya');

------------------------------------------------------------------------------------------

/*
Q1:

*/

-- Ans1:
-- Method 1: Using CASE WHEN