In [0]:
------------------------------ TABLE FORMATION ------------------------------
drop table if exists icc_world_cup;

create table icc_world_cup
(
Team_1 Varchar(20),
Team_2 Varchar(20),
Winner Varchar(20)
);
INSERT INTO icc_world_cup values('India','SL','India');
INSERT INTO icc_world_cup values('SL','Aus','Aus');
INSERT INTO icc_world_cup values('SA','Eng','Eng');
INSERT INTO icc_world_cup values('Eng','NZ','NZ');
INSERT INTO icc_world_cup values('Aus','India','India');


------------------------------------------------------------------------------------------

/*
Q1:
Output: Team_Name, Matches_played, no_of_wins, no_of_losses
*/



-- Ans1:
-- Method 1: Using CTE
with cte as (
select team_1,
case
  when team_1 = winner then 1
  else 0
end as win_flag
from icc_world_cup

union all

select team_2,
case
  when team_2 = winner then 1
  else 0
end as win_flag
from icc_world_cup
)

select 
team_1 as team, 
count(1) as matches_played,
sum(win_flag) as no_of_wins,
count(1)-sum(win_flag) as no_of_losses
from cte
group by 1
order by no_of_wins desc;



-- Ans1:
-- Method 2: Using SubQuery
select 
team_1 as team, 
count(1) as matches_played,
sum(win_flag) as no_of_wins,
count(1)-sum(win_flag) as no_of_losses
from (
select team_1,
case
  when team_1 = winner then 1
  else 0
end as win_flag
from icc_world_cup

union all

select team_2,
case
  when team_2 = winner then 1
  else 0
end as win_flag
from icc_world_cup
)
group by 1
order by no_of_wins desc;


select a.*, b.* 
from icc_world_cup as a
inner join icc_world_cup as b
on a.team_1 = b.team_2;