In [0]:
------------------------------ TABLE FORMATION ------------------------------
drop table if exists customer_orders;

create table customer_orders (
order_id integer,
customer_id integer,
order_date date,
order_amount integer
);

insert into customer_orders values(1,100,cast('2022-01-01' as date),2000),(2,200,cast('2022-01-01' as date),2500),(3,300,cast('2022-01-01' as date),2100)
,(4,100,cast('2022-01-02' as date),2000),(5,400,cast('2022-01-02' as date),2200),(6,500,cast('2022-01-02' as date),2700)
,(7,100,cast('2022-01-03' as date),3000),(8,400,cast('2022-01-03' as date),1000),(9,600,cast('2022-01-03' as date),3000);

------------------------------------------------------------------------------------------

/*
Q1:
output: order_date, new_customer_count, repeat_customer_count
*/



-- Ans1:
-- Method 1: Using CTE
select * from customer_orders;


with first_visit as (
select customer_id, min(order_date) as first_visit_date
from customer_orders
group by 1),

new_repeat_check as (
select customers.*, first.first_visit_date
from customer_orders as customers
join first_visit as first
on customers.customer_id = first.customer_id)

select order_date, 
sum(case 
  when (order_date = first_visit_date) then 1 else 0 
end) as new_customer,
sum(case 
  when (order_date != first_visit_date) then 1 else 0 
end) as repeat_customer
from new_repeat_check
group by 1
order by 1;

------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------

/*
Q2:
output: order_date, new_customer_count, repeat_customer_count, new_customer_order_value, repeat_customer_order_value
*/

-- Ans2:
-- Method 1:
select * from customer_orders;

with first_visit as (
select customer_id, min(order_date) as first_visit_date
from customer_orders
group by 1),

new_repeat_check as (
select customers.*, first.first_visit_date
from customer_orders as customers
join first_visit as first
on customers.customer_id = first.customer_id)

select * from new_repeat_check;