In [0]:
------------------------------ TABLE FORMATION ------------------------------
-- 1. Create the tables
drop table if exists players;
drop table if exists matches;

create table players 
(player_id int,
group_id int);

insert into players values (15,1);
insert into players values (25,1);
insert into players values (30,1);
insert into players values (45,1);
insert into players values (10,2);
insert into players values (35,2);
insert into players values (50,2);
insert into players values (20,3);
insert into players values (40,3);

create table matches
(
match_id int,
first_player int,
second_player int,
first_score int,
second_score int);

insert into matches values (1,15,45,3,0);
insert into matches values (2,30,25,1,2);
insert into matches values (3,30,15,2,0);
insert into matches values (4,40,20,5,2);
insert into matches values (5,35,50,1,1);

------------------------------------------------------------------------------------------

/*
Q1:
-- Write an SQL query to find the winner in each group.

The winner in each group is the player who scored the maximum total points within the group. In the case of a tie,
the lowest player_id wins.

*/

-- Ans1:
-- Method 1: 
select * from players;
select * from matches;


with player_scores as
(
select first_player as player_id, first_score as score from matches
union all
select second_player as player_id, second_score as score from matches
),
total_scores_per_player as (
select player_id, sum(score) as total_scores
from player_scores
group by player_id
)

select players.group_id, players.player_id, max(total_scores_per_player.total_scores) as maximum_scores 
from players
join total_scores_per_player
on players.player_id = total_scores_per_player.player_id
group by players.group_id, players.player_id





select player_id, max(total_scores) as highest_score
from total_scores_per_player
group by